<%- include('header.ejs') %>
 <!-- About section one-->
 <section class="py-5" id="scroll-target" style="background-color:#8EACCD;">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/assets/image2.png" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Why I Built This Website</h2>
                <p class="lead fw-normal text-muted mb-0">I'm currently learning mern, stack so i build this website as my personal project. I built this platform using Node.js and Express.js to explore my skills in backend development while sharing my thoughts and ideas with the world.</p>
            </div>
        </div>
    </div>
</section>
<!-- Team members section-->
<section class="py-5 " style="background-color: #FEF9D9;">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">About Me</h2>
            <p class="lead fw-normal text-muted mb-5">Hello, and welcome to my website!</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/ritu.jpg" alt="..." />
                    <h5 class="fw-bolder">Ritumbhara Gautam</h5>
                    <div class="fst-italic text-muted">A tech enthusiast learning Mern stack</div>
                </div>
            </div>
           
            
           
        </div>
    </div>
</section>
<%- include('footer.ejs') %>