<%- include('header.ejs') %>

<section class="py-5" style="background-color: #8EACCD;">
    <div class="container px-5">
        <!-- Contact form-->
        <div class=" rounded-3 py-5 px-4 px-md-5 mb-5"  style="background-color: #FEF9D9;">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Get in touch</h1>
                <p class="lead fw-normal text-muted mb-0">Stay Connected with Me!</p>
            </div>
            
        
        <!-- Contact cards-->
        <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
            <div class="col-lg-6">
                <a class="btn btn-lg px-3 feature bg-gradient  rounded-3 mb-3 me-sm-3 shadow" style="background-color: #8EACCD;" href="https://github.com/RitumbharaGautam" target="_blank"><i class="bi bi-github"></i></a>

                <div class="h5 mb-2">Github</div>
                <p class="text-muted mb-0">Get in touch with me via Github.</p>
            </div>
            <div class="col-lg-6">
                <a class="btn btn-lg px-3 feature bg-gradient rounded-3 mb-3 me-sm-3 shadow" style="background-color: #8EACCD;" href="https://www.linkedin.com/in/ritumbhara-gautam-14a069228/" target="_blank"><i class="bi bi-envelope"></i></a>
                <div class="h5">Linkedin</div>
                <p class="text-muted mb-0">Message or follow me on linkedin.</p>
            </div>
          
        </div>
    </div>
    </div>
</section>

<%- include('footer.ejs') %>